{{** Global website settings **}}

# Database settings
db_host = ""
db_name = ""
db_user = ""
db_pass = ""

# Define default controller
# Enter the name of you controller, without the '_Controller' or .php extension
# e.g., 'Home_Controller' is just 'Home'
default_controller = "Home"

# Site admin controller
# To change the default URL location of the admin area (http://example.com/admin)
# set the new controller name here. You must also rename the Admin_Controller.php
# file located in app/code/core/controllers, and the class name contained in the file
# to match the name you are setting below
admin_controller = "Admin"

# Site URL. Include protocol (http or https), subdirectory (if applicable) and trailing slash
site_url = ""
site_name = ""
site_slogan = ""
site_email = ""
site_admin = ""
street_address = ""
city = ""
state = ""
zipcode = ""
telephone = ""
time_zone = "America/New_York"

# Error reporting ( E_ALL / NONE )
# This setting determines whether to display errors in browser.
# It is intended for development purposes only --
# TURN THIS SETTING OFF IN A LIVE ENVIRONMENT
error_reports = "true"

# Debug mode ( 'on' / 'off' )
# Enabling debug mode returns detailed reports in the browser
# when many common exceptions occur.
# It is intended for development purposes only --
# TURN THIS SETTING OFF IN A LIVE ENVIRONMENT
debug_mode = "on"

# Log run time errors to file ( /var/logs/system.log )
# Note -- turning this off will disable error logging;
# however, you can still manually log errors using the
# Logger toolbox helper ( i.e., $this->log->save() )
log_errors = "TRUE"

# Maximum file size allowed for log files
# Once this size is reached, the log file will be archived, and new log file created
# Enter the size in megabytes. Set to 100 MB by default
log_file_max_size = "100"

controllers_path = "public/controllers/"
models_path = "public/models/"

template_name = "default"
admin_template_name = "default"
breadcrumbs = "TRUE"

maintenance_mode = "FALSE"
system_startup_check = "FALSE"


# Two step login process (i.e., should simple math problem be solved
# in addition to username / password?)
login_math = "TRUE"

# Upon registration, should new users be sent an email to confirm
# their account before it becomes active? Set to TRUE if yes, FALSE if no [TRUE/FALSE]
signup_email_confirmation = "TRUE"

/**************************************************************
 * Gzip compression
 * Set to true to enable compression, false to disable
 *
 * If you get a blank page when compression is enabled,
 * it means that you are putting out content before the page
 * has begun loading.
 *
 * Nothing can be sent to the browser before compression begins,
 * even blank spaces.
 ***************************************************************/
compression = "TRUE"

# Image gallery settings
total_img_allowed = "10"

# Maximum allowed image file size in bytes ( 1000 is equal to 1kb; 1000000 is equal to 1 MB )
img_file_size = "4000000"

# Maximum image height in pixels. Set to zero for unlimited
img_height = "0"

# Maximum image width in pixels. Set to zero for unlimited
img_width = "0"

# Allowed image types. Comma separated list of image type extensions (no proceeding period)
img_type = "jpg, jpeg, gif, png"

inbox_enabled = "TRUE"
inbox_limit = "100"
inbox_allow_email = "TRUE"
inbox_allow_link = "TRUE"
inbox_allow_url = "TRUE"
inbox_allow_image = "TRUE"
inbox_allow_formatting = "TRUE"

system_folder = "app/code/core/system/"
public_folder = "public/"
template_folder = "app/design/frontend/"
admin_template_folder = "app/design/admin/"
template_url = "app/design/frontend/"
admin_template_url = "app/design/admin/"

# Session cookie name
# Give this a unique name
session.name = "DiamondPHPSESSID"
# Recommended to leave this enabled for session security. 0 = disabled 1 = enabled
session.use_strict_mode = "1"
# Default setting is zero; i.e. until browser is closed
# Set this value in seconds if you wish to change the default behavior
session.cookie_lifetime = "0"
# Leave blank for default settings; otherwise you can specify the host name of your server here
session.cookie_domain = ""
# Marks the cookie as accessible only through the HTTP protocol. 
# This means that the cookie won't be accessible by scripting languages, such as JavaScript.
# This setting can effectively help to reduce identity theft through XSS attacks (although it is not supported by all browsers).
session.cookie_httponly = "FALSE"
# Default is nocache. [nocache, private, private_no_expire, public]
# See http://php.net/manual/en/function.session-cache-limiter.php for more information about each setting.
session.cache_limiter = "nocache"