
/* Backgrounds */
.bg-navy {
  background-color: #001F3F !important; }

.bg-blue {
  background-color: #0074D9 !important; }

.bg-aqua {
  background-color: #7FDBFF !important; }

.bg-teal {
  background-color: #39CCCC !important; }

.bg-olive {
  background-color: #3D9970 !important; }

.bg-green {
  background-color: #2ECC40 !important; }

.bg-lime {
  background-color: #01FF70 !important; }

.bg-yellow {
  background-color: #FFDC00 !important; }

.bg-orange {
  background-color: #FF851B !important; }

.bg-red {
  background-color: #FF4136 !important; }

.bg-fuchsia {
  background-color: #F012BE !important; }

.bg-purple {
  background-color: #B10DC9 !important; }

.bg-maroon {
  background-color: #85144B !important; }

.bg-white {
  background-color: #fff !important; }

.bg-gray {
  background-color: #aaa !important; }

.bg-silver {
  background-color: #ddd !important; }

.bg-black {
  background-color: #111 !important; }

/* Colors */
.navy {
  color: #001F3F !important; }

.blue {
  color: #0074D9 !important; }

.aqua {
  color: #7FDBFF !important; }

.teal {
  color: #39CCCC !important; }

.olive {
  color: #3D9970 !important; }

.green {
  color: #2ECC40 !important; }

.lime {
  color: #01FF70 !important; }

.yellow {
  color: #FFDC00 !important; }

.orange {
  color: #FF851B !important; }

.red {
  color: #C7081B !important; }

.fuchsia {
  color: #F012BE !important; }

.purple {
  color: #B10DC9 !important; }

.maroon {
  color: #85144B !important; }

.white {
  color: #fff !important; }

.silver {
  color: #ddd !important; }

.gray {
  color: #aaa !important; }

.black {
  color: #111 !important; }

/* Border colors 

   Use with another border utility that sets border-width and style 
   i.e .border { border-width: 1px; border-style: solid !important; }     
*/
.border-navy {
  border-color: #001F3F !important; }

.border-blue {
  border-color: #0074D9 !important; }

.border-aqua {
  border-color: #7FDBFF !important; }

.border-teal {
  border-color: #39CCCC !important; }

.border-olive {
  border-color: #3D9970 !important; }

.border-green {
  border-color: #2ECC40 !important; }

.border-lime {
  border-color: #01FF70 !important; }

.border-yellow {
  border-color: #FFDC00 !important; }

.border-orange {
  border-color: #FF851B !important; }

.border-red {
  border-color: #FF4136 !important; }

.border-fuchsia {
  border-color: #F012BE !important; }

.border-purple {
  border-color: #B10DC9 !important; }

.border-maroon {
  border-color: #85144B !important; }

.border-white {
  border-color: #fff !important; }

.border-gray {
  border-color: #aaa !important; }

.border-silver {
  border-color: #ddd !important; }

.border-black {
  border-color: #111 !important; }

/* Fills for SVG */
.fill-navy {
  fill: #001F3F !important; }

.fill-blue {
  fill: #0074D9 !important; }

.fill-aqua {
  fill: #7FDBFF !important; }

.fill-teal {
  fill: #39CCCC !important; }

.fill-olive {
  fill: #3D9970 !important; }

.fill-green {
  fill: #2ECC40 !important; }

.fill-lime {
  fill: #01FF70 !important; }

.fill-yellow {
  fill: #FFDC00 !important; }

.fill-orange {
  fill: #FF851B !important; }

.fill-red {
  fill: #FF4136 !important; }

.fill-fuchsia {
  fill: #F012BE !important; }

.fill-purple {
  fill: #B10DC9 !important; }

.fill-maroon {
  fill: #85144B !important; }

.fill-white {
  fill: #fff !important; }

.fill-gray {
  fill: #aaa !important; }

.fill-silver {
  fill: #ddd !important; }

.fill-black {
  fill: #111 !important; }

/* Strokes for SVG */
.stroke-navy {
  stroke: #001F3F !important; }

.stroke-blue {
  stroke: #0074D9 !important; }

.stroke-aqua {
  stroke: #7FDBFF !important; }

.stroke-teal {
  stroke: #39CCCC !important; }

.stroke-olive {
  stroke: #3D9970 !important; }

.stroke-green {
  stroke: #2ECC40 !important; }

.stroke-lime {
  stroke: #01FF70 !important; }

.stroke-yellow {
  stroke: #FFDC00 !important; }

.stroke-orange {
  stroke: #FF851B !important; }

.stroke-red {
  stroke: #FF4136 !important; }

.stroke-fuchsia {
  stroke: #F012BE !important; }

.stroke-purple {
  stroke: #B10DC9 !important; }

.stroke-maroon {
  stroke: #85144B !important; }

.stroke-white {
  stroke: #fff !important; }

.stroke-gray {
  stroke: #aaa !important; }

.stroke-silver {
  stroke: #ddd !important; }

.stroke-black {
  stroke: #111 !important; }

  
  
 
/** --. Printable Div
    If want to dismiss these rules, 
    add to body: class="printable"
    Or simply delete custom rules!
*************************************************** **/
@media print {
    /* 
        @CUSTOM RULES 
    */
    body * {
        visibility: hidden;
        margin:0; padding:0;
    }
    .printable * { 
        visibility: visible;
    }

    /* print resets */
    #wrapper {
        margin:0 !important;
        padding:20px 0 0 0 !important;
    }

    /* display none for all other elements - remove whitespaces */
    #topNav, #header_shadow, #footer,
    #page-title, .btn { display:none; }


    /* 
        @REQUIRED RULES
    */
    .col-sm-1, .col-sm-2, .col-sm-3, 
    .col-sm-4, .col-sm-5, .col-sm-6, 
    .col-sm-7, .col-sm-8, .col-sm-9, 
    .col-sm-10, .col-sm-11, 
    .col-sm-12  { float: left; }
    .col-sm-12  { width: 100%; }
    .col-sm-11  { width: 91.66666666666666%; }
    .col-sm-10  { width: 83.33333333333334%; }
    .col-sm-9   { width: 75%; }
    .col-sm-8   { width: 66.66666666666666%; }
    .col-sm-7   { width: 58.333333333333336%; }
    .col-sm-6   { width: 50%; }
    .col-sm-5   { width: 41.66666666666667%; }
    .col-sm-4   { width: 33.33333333333333%; }
    .col-sm-3   { width: 25%; }
    .col-sm-2   { width: 16.666666666666664%; }
    .col-sm-1   { width: 8.333333333333332%; }
}




@font-face {
    font-family: 'Audiowide';
    src: url('../fonts/Audiowide-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Spin';
    src: url('../fonts/spin.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lobster';
    src: url('../fonts/LobsterTwo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratAlternates-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Josefin';
    src: url('../fonts/JosefinSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Droid';
    src: url('../fonts/DroidSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSerif';
    src: url('../fonts/DroidSerif-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSansMono';
    src: url('../fonts/DroidSansMono.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu';
}
.site-logo {
    font-family: Spin, Audiowide;
    color: #75BA46;
}
.slogan {
    font-family: Ubuntu, Spin, Audiowide;
}
.pass {
    padding: 2px 4px;
    font-size: 90%;
    color: #093;
    background-color: #D1EDCB;
    white-space: nowrap;
    border-radius: 4px;
}
.terminal {
    background-color: #333 !important;
    color: greenyellow !important;
    padding: 8px;
}
.console {
    background-color: #333 !important;
    color: #9AC810 !important;
    padding: 20px;
    font-family: DroidSansMono;
    font-size: 12px;
    line-height: normal;
    border: 3px solid #242424;
}
.console a {
    color: #9CFC94 !important;
    font-family: DroidSansMono;
}
.console h3 {
    color: #9AC810 !important;
    font-family: DroidSansMono;
}
/*h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu;
}*/
.optional::after {
    content: " (optional) ";
    color: #CCC;
}
.details {
    color: #E43838;
    margin-top: 15px;
    font-size: 1em;
}